/* montar atividade */

.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #5cbecf;
	height: 5rem;
}

.main{
	background-color: #42433e;
}

.top{
	display: flex;
	background-color: #5cbecf;
	flex-direction: row;
	justify-content: center;
	font-size: 1.5rem;
	margin: 1rem;
}

.logo_{
	margin-top: 0;
	height: 67px;
	width: 145px;
}

.foto_perfil{
	height: 50px;
	width: 50px;
	border-radius: 1.5rem;
	margin: 1rem;
}

.tipo_escolha{
	margin-bottom: 1rem;
	font-family: 'Red Hat Text', sans-serif;
	color: #FFFFFF;
}

.escolha{
	display: flex;
	flex-direction: column;
	margin: 1rem;
}

.qqo{
	margin-bottom: 0.5rem;
	display: flex;
	font-size: 1.5rem;
	margin: 1rem;
}

.item_local{
	margin-bottom: 0.5rem; 
}
.locais_{
	display: flex;
	flex-direction: row;
}

.name_item{
	font-size: 1.2rem;
	margin-bottom: 0.5rem; 
}

.day{
	font-size: 1.2rem;
}

.dias_da_semana{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.hr{
	margin-left: 1rem;
	margin-bottom: 0.7rem;
}

.quem{
	margin-bottom: 0.5rem;
}

.gerar{
	display: flex;
	justify-content: center;
	background-color: #5196a6;
	height: 2rem;
	margin: 1rem;

}