/* montar atividade */

.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: 1rem;
	margin-bottom: 1rem;
}

.fav{
	display: flex;
	flex-direction: row-reverse;
	margin: 1rem;
}

.nome_esporte{
	display: flex;
	justify-content: center;
	margin: 1rem;
}

.tipo_escolha{
	margin-bottom: 1rem;
}

.escolha{
	display: flex;
	flex-direction: column;
	margin: 1rem;
}

.qqo{
	margin-bottom: 0.5rem;
}

.item_local{
	margin-bottom: 0.5rem;
}

.dias_da_semana{
	display: flex;
	justify-content: space-between;
	margin-bottom: 1rem;
}

.hr{
	margin-left: 1rem;
	margin-bottom: 0.7rem;
}

.quem{
	margin-bottom: 0.5rem;
}

.gerar{
	display: flex;
	justify-content: center;
}