/*quadras*/

.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #bb1b1b;
	height: 5rem;
}

.fundo{
	background-color: #000000; 
}

.top{
	display: flex;
	background-color: #bb1b1b;
	border-radius: 1.5rem;
	flex-direction: row;
	justify-content: center;
	font-size: 1.5rem;
	font-family: 'Convergence', sans-serif;
	margin: 1rem;
}

.nome_esporte{
	color: #ffffff;
}

.fav{
	color: #ffffff;
}

.logo_{
	margin-top: 0;
	height: 67px;
	width: 145px;
}

.tipo{
	font-family: 'Convergence', sans-serif;
	margin-top: 2rem;
}

.foto_perfil{
	height: 50px;
	width: 50px;
	border-radius: 1.5rem;
	margin: 1rem;
}

.locais{
	display: flex;
	flex-direction: column;
	margin-left: 0.4rem;
	font-family: 'Convergence', sans-serif;
}

.gerar{
	background-color: #cc0000;
	height: 2rem;
	margin: 1rem;
	font-family: 'Convergence', sans-serif;
}

.gerar_{
	text-align: center;
}

.tipo_{
	display: flex;
	flex-direction: row;

}

.tipo_1{
	display: flex;
	flex-direction: row;
	margin-left: 0.8rem;
}

.name_item1{
	font-size: 1.3rem;
	margin-bottom: 0.7rem; 
	color: #ffffff;
}

.name_item2{
	font-size: 1.3rem;
	color: #ffffff;
}

.lugar{
	display: flex;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
	margin: 1rem;
	color: #ffffff;
	font-size: 2rem;
}

.item1{
	color: #ffffff;
}

.item2{
	margin-left: 1rem;
	margin-bottom: 0.7rem;
}